body{
    background-color: rgb(22, 22, 22);
    color: whitesmoke;
    text-align: center;
}

.logo > img{
    display: inline-block;
    justify-content: center;
    width: 215px;
    height: 215px;
}

.Slogan > h1{
    background-image: linear-gradient(to right, rgb(3, 224, 3) , rgba(4, 190, 190, 0.767), rgb(255, 1, 192));
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menu > a{
    color: rgba(245, 245, 245, 0.925);
    text-decoration: none;
}

#menu > a:hover{
    color: rgb(102, 255, 0);
}



