body{
    background-color: #110116;    
    color: white;
    text-align: center;
}


canvas {
  display: inline-block;
  vertical-align: bottom;
}

/*Fontes */
.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#light-mode-particles{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0; /* Fundo */
    top: 0;
    left: 0;    
    background-color: rgb(240, 239, 239);
    transition: background-color 0.3s ease;
    color: black;
}

.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}


#particles-js{
position: fixed;
width: 100%;
height: 100%;
background-color: #110116; 
transition: background-color 0.3s ease;
z-index: 0; /* Fundo */
top: 0;
left: 0;
color: black;
}

/* Caso eu queria mudar algo */
.main-content {
position: relative;
z-index: 1; /* Efeito de fundo */
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.count-particles {
position: absolute;
top: 10px;
left: 10px;
color: #13e8e9;
font-size: 12px;
}

.js-count-particles {
  font-size: 1.1em;
}


.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.logo{
    top: 10px;
    height: 150px;
}

.logo > img{
    display: inline-block;
    justify-content: center;
    width: 215px;
    height: 215px;
    z-index: 2;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border-radius: 20%;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e7e7e7;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20%;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(23, 0, 32);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20%;
}

.notransition .slider,
.notransition .slider:before {
    transition: none !important;
    -webkit-transition: none !important;
}

input:checked + .slider {
  background-color: rgb(0, 122, 55);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.Slogan > h1{
    background-image: linear-gradient(to right, rgb(3, 224, 3) , rgba(4, 190, 190, 0.767), rgb(255, 1, 192));
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menu{
    color: rgba(245, 245, 245, 0.575);
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#menu > p{
    margin: 0px;
    color: #949494;
}

.menu > a{
    color: white;
    text-decoration: none;
}



.menu > a:hover{
    color: rgb(102, 255, 0);
    text-decoration-line: none;
}

.menu{
    display: inline-block;
    justify-content: center;
}

#paginainicial{
    padding-bottom: 10px;
}

#paginainicial > a{
    color: #949494;
}

#paginainicial > a:hover{
    color: rgb(102, 255, 0);
}

.menulogin{
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-top: 6px;
    padding: 2rem;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    box-shadow: 0px 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.login{
    padding: 20px;
    margin: 15px;
    display: grid;
    justify-content: center;
}

.login > a{
    font-family: "Anton", sans-serif;
    color: rgba(0, 0, 0, 0.651);
    background-color: rgba(235, 228, 221, 0.753);
    backdrop-filter: blur(10px);
    border-radius: 4px;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    border: 2px solid rgb(71, 71, 71);
    text-decoration: none;
    box-shadow: 0px 8px 32px 0 rgba(0, 0, 0, 0.514);
}

.login > a:hover{
    border-color:  rgba(102, 255, 0, 0.664);
    color:  rgba(80, 197, 2, 0.664);
}

.passageiro{
    background-color: rgba(245, 245, 245, 0.082);
    border: 1px solid #949494; 
    border-radius: 10px;
    width: 380px;
    height: 170px;
    margin: 20px 0px 20px 0px;
    padding: 10px 10px 10px 10px;
}

.passageiro:hover{
    border-color: rgba(80, 197, 2, 0.664);
    transition-duration: 0.3s;
}


.passageiro > img{
    background-color: rgba(102, 255, 0, 0.664);
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: 1px solid rgb(102, 255, 0);
}

form{
    width: 300px; 
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 8px;
}

div > {
    margin-bottom: 15px;
    backdrop-filter: blur(5px);
    background-color: #218838;
}

label{
    display: block; 
    margin-bottom: 5px;
}

button{
    width: 100%;
    padding: 10px; 
    background-color: #28a745; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer;
    margin-top: 10px;
}

button:hover{
    background-color: #218838;
}

input{
    width: 100%; 
    padding: 8px; 
    box-sizing: border-box;
}

.Motorista{
    background-color: rgba(245, 245, 245, 0.082);
    border: 1px solid #949494; 
    border-radius: 10px;
    width: 380px;
    height: 170px;
    padding: 10px 10px 10px 10px;
    margin: auto;
}

.Motorista > img{
    background-color: rgba(102, 255, 0, 0.664);
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: 1px solid rgb(102, 255, 0);
}

.Motorista:hover{
    border-color: rgba(80, 197, 2, 0.664);
    transition-duration: 0.3s;
}



.Organizador{
    background-color: rgba(245, 245, 245, 0.082);
    border: 1px solid #949494; 
    border-radius: 10px;
    width: 380px;
    height: 170px;
    padding: 10px 10px 10px 10px;
    margin: 20px 0px 20px 0px;
}

.Organizador:hover{
    border-color: rgba(80, 197, 2, 0.664);
    transition-duration: 0.3s;
}

.Organizador > img{
    background-color: rgba(102, 255, 0, 0.664);
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: 1px solid rgb(102, 255, 0);
}

#fotologin > img{
    display: block;
    justify-content: left;
    width: 40px;
    height: 40px;
    margin: 10px;
}

#calendar{
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.festas{
    border: 1px solid rgb(129, 129, 129);
    border-radius: 5px;
    margin: 10px;
}

#rrock > a{
    text-decoration: none;    
}

#rrock > a:hover{
    text-decoration: none;
    border-color: rgba(80, 197, 2, 0.664);      
}

#rockinrio{
    border: 1px solid rgb(129, 129, 129);
    border-radius: 5px;
    margin: 10px;
}

#rockinrio:hover{
    border: 1px solid rgba(80, 197, 2, 0.664);
    color: rgba(80, 197, 2, 0.664);
}

#rockinrio > p{
    color: rgb(129, 129, 129);
    font-size: 13px;
}

#rockinrio > h5{
    color: rgb(129, 129, 129);
}

#rockinrio > img{
    width: 290px;
    height: 100px;
    border-radius: 2px;
}

#lollapalooza{
    border: 1px solid rgb(129, 129, 129);
    border-radius: 5px;
    margin: 10px;
    text-decoration: none;
}

#lollapalooza:hover{
    border: 1px solid rgba(80, 197, 2, 0.664);
    color: rgba(80, 197, 2, 0.664);    
}

#lollapalooza > p{
    font-size: 13px;
    text-decoration: none;
    color: rgb(129, 129, 129);
}

#lollapalooza > h5{
    color: rgb(129, 129, 129);
}

#lollapalooza > img{
    width: 290px;
    height: 100px;
    border-radius: 2px;
}

#lolla > a{
    text-decoration: none; 
}

#compraring{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 80px;
}

#viageemandamento{
    border: 1px solid rgb(129, 129, 129);
    border-radius: 5px;
    color: rgb(129, 129, 129);
}

#acompanhar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 80px;    
}

#proximasviagens{
    border: 1px solid rgb(129, 129, 129);
    border-radius: 5px; 
    color: rgb(129, 129, 129);   
}

#meuseventos > button{
    border: 1px solid rgb(129, 129, 129);
    border-radius: 5px;
    background-color: #4a0374;
    width: 180px;
    height: 50px; 
    margin-left: 20px;   
}


#cadeventos > button{
    border: 1px solid rgb(129, 129, 129);
    border-radius: 5px;
    background-color: #4a0374;
    width: 180px;
    height: 50px;
}

#btnevento{
    display: flex;
    justify-content: center;   
    align-items: center; 
    padding: 10px;
    margin-right: 10px;
    gap: 10px;
}

#lollapalooza1{
    border: 1px solid rgb(129, 129, 129);
    border-radius: 5px;
    margin: 10px;
    text-decoration: none;
}

#lollapalooza1:hover{
    border: 1px solid rgba(80, 197, 2, 0.664);
    color: rgba(80, 197, 2, 0.664);    
}

#lollapalooza1 > p{
    font-size: 13px;
    text-decoration: none;
    color: rgb(129, 129, 129);
}

#lollapalooza1 > h5{
    color: rgb(129, 129, 129);
}

#lollapalooza1 > img{
    width: 312px;
    height: 100px;
    border-radius: 2px;
}

#pessoasint{
    color: rgb(129, 129, 129);
    border: 1px solid rgb(129, 129, 129);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

#caronasdisp{
    color: rgb(129, 129, 129);
    border: 1px solid rgb(129, 129, 129);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;    
}


