body{
    background-color: rgb(22, 22, 22);
    color: whitesmoke;
    text-align: center;
}

.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.logo > img{
    display: inline-block;
    justify-content: center;
    width: 215px;
    height: 215px;
}

.Slogan > h1{
    background-image: linear-gradient(to right, rgb(3, 224, 3) , rgba(4, 190, 190, 0.767), rgb(255, 1, 192));
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menu{
    color: rgba(245, 245, 245, 0.575);
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#menu > p{
    margin: 0px;
}

.menu > a{
    color: white;
    text-decoration: none;
}



.menu > a:hover{
    color: rgb(102, 255, 0);
    text-decoration-line: none;
}

.menu{
    display: inline-block;
    justify-content: center;
}

#paginainicial{
    padding-bottom: 10px;
}

#paginainicial > a{
    color: white;
}

#paginainicial > a:hover{
    color: rgb(102, 255, 0);
}

.menulogin{
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 2rem;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    text-align: center;
    box-shadow: 0px 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.login{
    padding: 20px;
    margin: 15px;
    display: grid;
    justify-content: center;
}

.login > a{
    font-family: "Anton", sans-serif;
    color: rgba(0, 0, 0, 0.651);
    background-color: rgba(235, 228, 221, 0.753);
    backdrop-filter: blur(10px);
    border-radius: 4px;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    border: 2px solid rgb(71, 71, 71);
    text-decoration: none;
}

.login > a:hover{
    border-color:  rgba(102, 255, 0, 0.664);
    color:  rgba(102, 255, 0, 0.664);
}

.passageiro{
    background-color: rgba(245, 245, 245, 0.082);
    border: 1px solid rgba(245, 245, 245, 0.199);
    border-radius: 10px;
    width: 400px;
    height: 170px;
    margin: 20px 0px 20px 0px;
    padding: 10px 10px 10px 10px;
}

.passageiro:hover{
    border-color: rgba(102, 255, 0, 0.664);
    transition-duration: 0.3s;
}

.passageiro > p{
    color: rgba(245, 245, 245, 0.575);
}

.passageiro > img{
    background-color: rgba(102, 255, 0, 0.664);
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: 1px solid rgb(102, 255, 0);
}

.Motorista{
    background-color: rgba(245, 245, 245, 0.082);
    border: 1px solid rgba(245, 245, 245, 0.199);
    border-radius: 10px;
    width: 400px;
    height: 170px;
    padding: 10px 10px 10px 10px;
    margin: 20px 0px 20px 0px;
}

.Motorista > img{
    background-color: rgba(102, 255, 0, 0.664);
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: 1px solid rgb(102, 255, 0);
}

.Motorista:hover{
    border-color: rgba(102, 255, 0, 0.664);
    transition-duration: 0.3s;
}


.Motorista > p{
    color: rgba(245, 245, 245, 0.575);
}

.Organizador{
    background-color: rgba(245, 245, 245, 0.082);
    border: 1px solid rgba(245, 245, 245, 0.199);
    border-radius: 10px;
    width: 400px;
    height: 170px;
    padding: 10px 10px 10px 10px;
    margin: 20px 0px 20px 0px;
}

.Organizador:hover{
    border-color: rgba(102, 255, 0, 0.664);
    transition-duration: 0.3s;
}

.Organizador > img{
    background-color: rgba(102, 255, 0, 0.664);
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: 1px solid rgb(102, 255, 0);
}

.Organizador > p{
    color: rgba(245, 245, 245, 0.575);
}